<h1>Lists</h1>
<ul>
<% @lists.each do |list| %>
<p><%= link_to list.name, list %></p>
<%= link_to "Delete",
  list_path(list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<% end %>
</ul>

<%= link_to "Create New List", new_list_path %>
